extends layout

block content
  form(action="/login", method="post")
    input(type="text", name="username" id="username")
    input(type="text", name="password" id="password")
    input(type="submit", value="OK")
